{% extends 'base.html.twig' %}

{% block body %}
    <div class="card card-warning">
        <label class="card-header" >Activite edit</label>
    </div>


    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input CLASS="btn btn-block bg-gradient-success" type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>

            <a  class="btn btn-block bg-gradient-info" href="{{ path('activite_index') }}">Back to the list</a>


            {{ form_start(delete_form) }}
                <input class="btn btn-block bg-gradient-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}

    </ul>
{% endblock %}
