{% extends 'admin.html.twig' %}

{% block body %}

    <div class="card card-warning">
        <label class="card-header" >Activites list</label>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Categorie</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activite in activites %}
            <tr>
                <td><a href="{{ path('activite_show', { 'id': activite.id }) }}">{{ activite.id }}</a></td>
                <td>{{ activite.categorie }}</td>
                <td>{{ activite.nom }}</td>
                <td>{{ activite.prix }}</td>
                <td>{{ activite.description }}</td>
                <td>
                    <ul>

                            <a class="btn btn-info" href="{{ path('activite_show', { 'id': activite.id }) }}">show<i class="fas fa-eye"></i></a>


                            <a class="btn btn-warning"  href="{{ path('activite_edit', { 'id': activite.id }) }}">edit <i class="fas fa-pen"></i></a>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
            <a CLASS="btn btn-block btn-primary" href="{{ path('activite_new') }}">Create a new activite</i></a>

    </ul>
{% endblock %}
