{% extends is_granted('ROLE_ADMIN')
    ? 'base.html.twig'
    : 'ense.html.twig' %}
{% block body %}
    <h1>Chatmessage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chatMessage.id }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ chatMessage.texte }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if chatMessage.date %}{{ chatMessage.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dashboard_chatmessage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('dashboard_chatmessage_edit', { 'id': chatMessage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
